body {
  margin: 0;
  font-family: 'IBMPlexSans-Medium', sans-serif;
  color: #fffef5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'IBMPlexSans-Medium';
  src: local('IBMPlexSans-Medium'), url(./fonts/IBMPlexSans-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono-Bold';
  src: local('IBMPlexSans-Bold'), url(./fonts/IBMPlexMono-Bold.ttf) format('truetype');
}
